html, body {
	height: 100%;
	font-family: arial, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
}

.button {
	text-decoration: none;
}

#search-bar .button {
	border: none;
	background-color: transparent;
	height: 40px;
	width: 40px;
	color: #4285f4;
}

svg {
	fill: currentColor;
	line-height: 24px;
	align-self: center;
	height: 100%;
	width: 100%;
}

a {
	font-size: 13px;
}

#search-input {
	border: none;	
	width: 532px;
	font-size: 16px;
}

#google-apps::before {
	content: "";
	background-image: url("../images/google_apps_black.png");	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	opacity: 0.55;
}

#google-apps:hover::before {
	opacity: 1;
}

#google-logo {
	align-self: center;
	padding: 4px 28px 0 30px;
}

#google-voice {
	margin-left: 5px;
}

#search-bar {
	display: flex;
	align-items: center;
	border: 1px hsl(0, 0%, 87%) solid;
        border-radius: 24px;
	width: 608px;
	padding-left: 20px;
}

#sign-in {
	display: inline-block;
	border: 1px solid #4285f4;
	font-weight: bold;
	background-color: #4284f4;
	line-height: 28px;	
	padding: 0 12px;
	color: #fff;
	border-radius: 2px;
	margin-left: 15px;
	cursor: default;
}

#container {
}

#left-nav {
	display: flex;
}

#left-nav form {
	display: flex;
}

#right-nav { 
	margin: auto 0;
	padding: 0 30px;
}

#search-options {
}

footer {
	position: absolute;
	bottom: 0;
}

#benchmark {
}

.search-result {
}

#related {
}

#page-select {
}

.text-link {
}

#footer-link {
}

#location {
}

