html, body {
	height: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
}

#search-bar {

}

#container {
}

#left-nav {
}

#right-nav { 
}

#search-options {
}

#benchmark {
}

.search-result {
}

#related {
}

#page-select {
}

.text-link {
}

#footer-link {
}

#location {
}

