html, body {
	height: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
}

#search-bar .button {
	border: none;
	background-color: transparent;
	height: 24px;
	width: 24px;
	color: #4285f4;
}

svg {
	fill: currentColor;
	line-height: 24px;
}

#google-logo {
}

#search-bar {
}

#container {
}

#left-nav {
	display: flex;
}

#left-nav form {
	display: flex;
}

#right-nav { 
}

#search-options {
}

#benchmark {
}

.search-result {
}

#related {
}

#page-select {
}

.text-link {
}

#footer-link {
}

#location {
}

